<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/artisthandler.css" />

    <title>Groupie-Tracker</title>
  </head>
  <body class="body3">
    <div class="vinyl">
      <div class="label"></div>
    </div>
    <h1 class="wlcm">Welcome to our Groupie-Tracker</h1>
    <p class="p">kumal&mtali</p>
    <a class="btnfirsta" href="/artist">
      <button class="btnfirst">Press me</button>
    </a>
    <div class="vinyl2">
      <div class="label"></div>
    </div>
  </body>
</html>
